<section class="flex-table-panel spacing">
    <div class="flex-table-panel-header">
        <div class="header-inner default" *ngIf="!selectedTracks.length">
            <div class="left">
                <button type="button" class="button primary" (click)="openNewTrackModal()" trans>New Track</button>
            </div>
            <div class="right">
                <div class="input-container">
                    <input type="text" class="search" placeholder="Search tracks" trans-placeholder
                           [formControl]="searchQuery">
                    <svg-icon name="search"></svg-icon>
                </div>
            </div>
        </div>
        <div class="header-inner selected" *ngIf="selectedTracks.length">
            <div class="left">{{selectedTracks.length}} <span trans>Tracks Selected</span></div>
            <div class="right">
                <button class="no-style" type="button" tooltip="Delete" (click)="maybeDeleteSelectedTracks()">
                    <svg-icon name="delete"></svg-icon>
                </button>
            </div>
        </div>
    </div>
    <div class="flex-table flex-table-bordered flex-table-compact flex-table-center-vertical album-tracks">
        <div class="flex-table-row flex-table-header">
            <div class="flex-table-item width-1">
                <input type="checkbox" class="pretty-checkbox" id="toggle-all-tracks-checkbox"
                       (click)="toggleAllSelectedTracks()">
                <label for="toggle-all-tracks-checkbox"><span>.</span></label>
            </div>
            <div class="flex-table-item width-3" trans>Name</div>
            <div class="flex-table-item" trans>Number</div>
            <div class="flex-table-item" trans>Artists</div>
            <div class="flex-table-item" trans>Duration</div>
            <div class="flex-table-item width-1"></div>
        </div>
        <div class="flex-table-row" *ngFor="let track of filteredTracks; let index = index;"
             [class.selected]="isTrackSelected(getIdentifier(track))">
            <div class="flex-table-item width-1" (click)="$event.stopPropagation()">
                <input type="checkbox" class="pretty-checkbox" id="track-checkbox-{{index}}"
                       (change)="toggleSelectedTrack(getIdentifier(track))" [checked]="isTrackSelected(getIdentifier(track))">
                <label for="track-checkbox-{{index}}"><span>.</span></label>
            </div>
            <div class="flex-table-item width-3">{{track.name}}</div>
            <div class="flex-table-item">{{track.number}}</div>
            <div class="flex-table-item">{{track.artists}}</div>
            <div class="flex-table-item">{{duration.fromMilliseconds(track.duration)}}</div>
            <div class="flex-table-item width-1 center edit-icon" (click)="openEditTrackModal(track)" tooltip="Edit Track">
                <button class="no-style" type="button">
                    <svg-icon name="edit"></svg-icon>
                </button>
            </div>
        </div>

        <no-results-message *ngIf="!filteredTracks.length">
            <span primary-text trans>Nothing To Display.</span>
            <span secondary-text trans>No tracks have been attached to this album yet.</span>
        </no-results-message>
    </div>
</section>