<div class="scroll-container" customScrollbar #scrollContainer>
    <filterable-page-header [filterQuery]="filterQuery" class="margin">
        <span trans>New Releases</span>
    </filterable-page-header>

    <ad-host slot="ad_slot_1"></ad-host>

    <div class="new-releases-box">
        <media-grid>
            <a class="media-icon left media-icon-left" href="javascript:void(0)" (click)="prev('first')"> <svg viewBox="0 0 1024 1024" aria-labelledby="blsi-ant-circle-left-title" id="si-ant-circle-left" width="100%" height="100%"><title id="blsi-ant-circle-left-title">icon circle-left</title><path d="M512 0Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0zm120 746q9 9 9 22.5t-9.5 23T609 801t-23-10L330 535q-9-9-9-22.5t9-22.5l257-258q10-9 23-9t22.5 9 9.5 22.5-9 22.5L398 513z"></path></svg> </a>
            <album-item *ngFor="let album of data.first.data" [album]="album" [contextMenu]="{item: album, type: 'album'}" [scrollContainer]="scrollContainer"></album-item>
            <a class="media-icon right media-icon-right" href="javascript:void(0)" (click)="next('first')"> <svg viewBox="0 0 1024 1024" aria-labelledby="bqsi-ant-circle-right-title" id="si-ant-circle-right" width="100%" height="100%"><title id="bqsi-ant-circle-right-title">icon circle-right</title><path d="M512 0Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0zm183 535L439 791q-10 10-23 10t-22.5-9.5-9.5-23 9-22.5l234-233-235-236q-9-9-9-22.5t9.5-22.5 22.5-9 23 9l256 258q10 9 10 22.5t-9 22.5z"></path></svg> </a>
        </media-grid>
    </div>

    <no-results-message *ngIf="!data.first.data || !data.first.data.length">
        <span primary-text trans>No new releases found.</span>
        <span secondary-text trans>Could not find any new releases. Please try again later.</span>
    </no-results-message>

    <div class="common-box">
        <filterable-page-header [filterQuery]="filterQuery" class="margin">
            <span trans>Top 50</span>
        </filterable-page-header>

        <media-grid>
            <a class="media-icon left media-icon-left" href="javascript:void(0)" (click)="prev('second')"> <svg viewBox="0 0 1024 1024" aria-labelledby="blsi-ant-circle-left-title" id="si-ant-circle-left" width="100%" height="100%"><title id="blsi-ant-circle-left-title">icon circle-left</title><path d="M512 0Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0zm120 746q9 9 9 22.5t-9.5 23T609 801t-23-10L330 535q-9-9-9-22.5t9-22.5l257-258q10-9 23-9t22.5 9 9.5 22.5-9 22.5L398 513z"></path></svg> </a>
            <album-item *ngFor="let album of data.second.data" [album]="album" [contextMenu]="{item: album, type: 'album'}" [scrollContainer]="scrollContainer"></album-item>
            <a class="media-icon right media-icon-right" href="javascript:void(0)" (click)="next('second')"> <svg viewBox="0 0 1024 1024" aria-labelledby="bqsi-ant-circle-right-title" id="si-ant-circle-right" width="100%" height="100%"><title id="bqsi-ant-circle-right-title">icon circle-right</title><path d="M512 0Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0zm183 535L439 791q-10 10-23 10t-22.5-9.5-9.5-23 9-22.5l234-233-235-236q-9-9-9-22.5t9.5-22.5 22.5-9 23 9l256 258q10 9 10 22.5t-9 22.5z"></path></svg> </a>
        </media-grid>
    
        <no-results-message *ngIf="!data.second.data || ! data.second.data.length">
            <span primary-text trans>No genres found.</span>
            <span secondary-text trans>Could not find any popular genres. Please try again later.</span>
        </no-results-message>
    </div>

    <div class="common-box">
        <filterable-page-header [filterQuery]="filterQuery" class="margin">
            <span trans>Popular Albums</span>
        </filterable-page-header>

        <media-grid>
            <a class="media-icon left media-icon-left" href="javascript:void(0)" (click)="prev('third')"> <svg viewBox="0 0 1024 1024" aria-labelledby="blsi-ant-circle-left-title" id="si-ant-circle-left" width="100%" height="100%"><title id="blsi-ant-circle-left-title">icon circle-left</title><path d="M512 0Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0zm120 746q9 9 9 22.5t-9.5 23T609 801t-23-10L330 535q-9-9-9-22.5t9-22.5l257-258q10-9 23-9t22.5 9 9.5 22.5-9 22.5L398 513z"></path></svg> </a>
            <album-item *ngFor="let album of data.third.data" [album]="album" [contextMenu]="{item: album, type: 'album'}" [scrollContainer]="scrollContainer"></album-item>
            <a class="media-icon right media-icon-right" href="javascript:void(0)" (click)="next('third')"> <svg viewBox="0 0 1024 1024" aria-labelledby="bqsi-ant-circle-right-title" id="si-ant-circle-right" width="100%" height="100%"><title id="bqsi-ant-circle-right-title">icon circle-right</title><path d="M512 0Q373 0 255 68.5T68.5 255 0 512t68.5 257T255 955.5t257 68.5 257-68.5T955.5 769t68.5-257-68.5-257T769 68.5 512 0zm183 535L439 791q-10 10-23 10t-22.5-9.5-9.5-23 9-22.5l234-233-235-236q-9-9-9-22.5t9.5-22.5 22.5-9 23 9l256 258q10 9 10 22.5t-9 22.5z"></path></svg> </a>
        </media-grid>
    
        <no-results-message *ngIf="!data.third.data || !data.third.data.length">
            <span primary-text trans>No genres found.</span>
            <span secondary-text trans>Could not find any popular genres. Please try again later.</span>
        </no-results-message>
    </div>

    <ad-host slot="ad_slot_2" class="margin-bottom"></ad-host>
</div>
