@import "variables";

.input-container {
  display: block;
  width: 100%;

  > .error {
    margin-top: 6px;
    color: $danger-bg-color;
  }

  > p {
    color: $text-color-secondary;
    font-size: 1.3rem;
  }

  > label {
    display: block;
    padding-bottom: 5px;
  }

  input, select, textarea {
    width: 100%;
    height: $input-height;
    color: $text-color;
    border: 1px solid $input-border-color;
    padding: 0 10px;
    line-height: normal;
    font-size: 1.4rem;
    font-family: inherit;
    background-color: inherit;

    &:disabled {
      background-color: #eee;
      color: #999;
    }
  }

  > textarea {
    height: auto;
    padding: 10px;
  }
}

.many-inputs {
  > .input-container {
    margin-bottom: 20px;
  }
}